[submodule "e2e"]
	path = e2e
	url = git@github.com:Glider2355/gauge-ts-template.git
[submodule "db"]
	path = db
	url = git@github.com:Glider2355/postgres-template.git
[submodule "api-spec"]
	path = api-spec
	url = git@github.com:Glider2355/api-spec-template.git
